@use "sass:map";

@mixin container {
  max-width: var(--gd-container-w);
  margin: 0 auto;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px,
);

@mixin sm-d {
  @media (max-width: calc(map.get($breakpoints, sm) - 0.02px)) {
    @content;
  }
}

@mixin md-d {
  @media (max-width: calc(map.get($breakpoints, md) - 0.02px)) {
    @content;
  }
}

@mixin lg-d {
  @media (max-width: calc(map.get($breakpoints, lg) - 0.02px)) {
    @content;
  }
}

@mixin xl-d {
  @media (max-width: calc(map.get($breakpoints, xl) - 0.02px)) {
    @content;
  }
}
