.benefits {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2.4rem;

  & .benefitsList {
    display: flex;
    flex-direction: column;
  }

  & .benefitsListItem {
    color: var(--gd-grey-dark);
    font-size: 1.8rem;
    display: flex;
    align-items: center;

    &::before {
      content: "·";
      padding: 0 0.8rem;
      font-size: 3.5rem;
      line-height: 1.8rem;
      @include flex-center;
    }
  }

  & .card {
    display: grid;
    grid-template-columns: min-content 1fr;
    column-gap: 2.4rem;
    row-gap: 1.2rem;
  }

  & .cardImgWrap {
    grid-column: 1;
    grid-row: 1 / 3;
    background-color: var(--gd-blue-soft);
    border-radius: 0.5rem;
    width: 7.6rem;
    height: 7.6rem;
    @include flex-center;
  }
}
