.calculator {
  padding: 2.4rem;
  border-radius: 2.4rem;
  border: 1px solid var(--gd-grey);
  background-color: var(--gd-white);
  max-width: 42.4rem;
  width: 100%;
  flex-grow: 1;

  & .formContainer {
    margin-top: 1.6rem;
  }

  & .tabs {
    display: flex;
    flex-direction: row;
    gap: 2.4rem;
  }

  & .tab {
    font-size: 2.4rem;
    color: var(--gd-blue-dark);
  }

  & .active {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 0.2rem;
      bottom: 0;
      background-color: var(--gd-blue-light);
      border-radius: 0.4rem;
    }
  }
}
