.header {
  height: 8.5rem;
  width: 100%;
  background-color: var(--gd-white);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--gd-container-x);

  & .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3.2rem;
  }

  & .nav {
    display: flex;
    align-items: center;
  }

  & .navList {
    display: flex;
    flex-direction: row;
    gap: 3.2rem;
  }

  & .navLink {
    color: var(--gd-blue);
    font-size: 1.6rem;
    font-weight: 500;
  }

  & .button {
    width: 15.2rem;
  }
}
