.layout {
  min-height: 100vh;
  width: 100%;
  animation: appearance var(--transition-function) 1 1s;
}

@keyframes appearance {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.layoutInner {
  background-color: var(--gd-white);
  position: relative;
  z-index: 1;
}

.stickyFooter {
  position: relative;
  height: 75.2rem;
}

.stickyFooterInner {
  position: fixed;
  width: 100%;
  bottom: 0;

  @include xl-d {
    position: static;
  }
}
