.main {
  width: 100vw;
  overflow-x: hidden;
  max-width: 100%;
}

.hero {
  position: relative;
  height: 61.2rem;
  overflow: hidden;
  margin-bottom: var(--gd-container-y);

  &:hover .background {
    scale: 1.1;
  }

  & .heroInner {
    @include container;
    padding: 0 var(--gd-container-x);
    margin-top: 7.2rem;
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2.6rem;

    @include md-d {
      margin-top: 4rem;
    }

    @include lg-d {
      flex-direction: column;
    }
  }

  & .intro {
    max-width: 55.8rem;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    @include md-d {
      gap: 1.6rem;
    }
  }

  & .text {
    font-size: 2rem;
    line-height: 1.2;
    max-width: 45.5rem;
    cursor: default;

    @include md-d {
      font-size: 1.8rem;
      margin-bottom: 0.4rem;
    }
  }

  & .backgroundContainer {
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  & .background {
    object-fit: cover;
    width: 100%;
    height: 100%;
    scale: 1;
    transition: scale ease 1s;
  }

  & .paymentList {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2.4rem;

    @include md-d {
      gap: 1.6rem;
    }
  }

  & .calculatorContainer {
    max-width: 42.4rem;
    width: 100%;
  }
}

.blue {
  color: var(--gd-blue-light);
}

.benefits {
  @include container;
  padding: var(--gd-container-y) var(--gd-container-x);
  display: flex;
  flex-direction: column;
  gap: var(--gb-section-gap);

  & .benefitsButton {
    width: 36.2rem;
    margin: 0 auto;

    @include md-d {
      width: 100%;
    }
  }
}

.exchange {
  @include container;
  padding: var(--gd-container-y) var(--gd-container-x);
  display: flex;
  flex-direction: column;
  gap: var(--gb-section-gap);

  & .exchangeTitle {
    text-align: center;
  }
}

.trust {
  background-color: var(--gd-grey-light);
  margin-top: var(--gd-container-y);

  & .trustInner {
    @include container;
    padding: var(--gd-container-y) var(--gd-container-x);
    display: flex;
    flex-direction: column;
    gap: var(--gb-section-gap);
  }

  & .trustHeading {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    @include md-d {
      gap: 1.2rem;
    }
  }

  & .trustButton {
    width: 27.2rem;
    margin: 0 auto;

    @include md-d {
      width: 100%;
    }
  }
}
